@font-face {
	font-family: moon;
	src: url('../assets/Moon2.0-Regular.otf') format("opentype");
}
@font-face {
	font-family: alber;
	src: url('../assets/AlberNew-Regular.ttf') format("truetype");
}
@font-face {
	font-family: zelda;
	src: url('../assets/ZeldaDXTTBRK.ttf') format("truetype");
}


*,
*:after,
*:before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html, body {
  font-family: zelda;
  font-size: 16px;
}

html {
	/*chrome*/
	--light1: #dee1e6;
	--light2: #f1f3f4;
	--light3: #ffffff;
	--light4: #f5f5f5;
	--dark1: #202124;
	--dark2: #282c2f;
	--dark3: #323639;
	--dark4: #464a4d;
	--col__red: #f63732;
	--col__blue: #4285f4;
	--col__green: #319d59;
	--col__yellow: #ffcd41;
	--col__ochre: #f0a200;
	--col__white: #eeeeee;
	--col__grey: #d6d6d6;
	--col__black: #202124;

	/*firefox*/
	--dark1__ff: #0d0d0e;
	--dark2__ff: #28282b;
	--dark3__ff: #323234;
	--dark4__ff: #474749;
	--col__white__ff: #f1f1f2;
	--col__grey__ff: #bebec0;
	--col__red__ff: #ff1a0d;
	--col__blue__ff: #00b9fb;
	/*no firefox green*/
	--col__yellow__ff: #fff208;
	--col__ochre__ff: #ffbb00;

	/* cursor: none; */
}

.mode--greyscale {
	filter: grayscale(1);
}
.mode--gameboy {
	filter: sepia(100%) hue-rotate(90deg);
}

/* everything after here is gameplay-related DOM elements; because they have less overhead and are easier to animate, style and maintain than canvas */
.retreatButton {
    position: fixed;
    top: 122px;
    left: 30px;
    padding: 40px;
    /* border: 1px dotted red; */
    border-radius: 100%;
	cursor: url(../assets/hand_custom.png), pointer;
}

.partyPicker {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;

	display: flex;
	/* justify-content: center; */

	pointer-events: none;

	/* 
	background: #fefefeee;
    padding: 0 5rem;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border: 4px outset var(--col__ochre);
	margin-bottom: -6px; 
	*/

	padding: 0 0 1rem 1rem;
}
.partyPicker.partyPicker_vert {
	width: unset;
	height: 100vh;
	flex-direction: column;
}
.partyPicker .partyPicker-member {
	width: 100px;
	height: 100px;

	margin: 8px;
	margin: 8px 1rem 2rem 1rem;
	margin: 0.5rem 0.5rem 1rem 1rem;

	border: 3px dotted var(--col__grey__ff);
	border-radius: 6px;
	background-color: #28282ba3;

	pointer-events: all;
	cursor: pointer;

	position: relative;

	background-image: var(--background);
	background-size: cover;
}
.partyPicker .partyPicker-member:before {
	content: 'N';
	color: var(--col__grey__ff);
	
	display: flex;
	justify-content: center;
	align-items: center;

	position: absolute;
	bottom: -1rem;
	left: -0.5rem;

	width: 3rem;
	height: 2rem;
	background-color: #28282bef;
	border: 4px outset #28282bef;
	border-radius: 30%;
}
.partyPicker input[type=radio]:not(:disabled) + .partyPicker-member:after {
	content: attr(data-amount);
	color: var(--col__grey__ff);
	font-size: 1.25rem;
	display: flex;
	justify-content: center;
	align-items: center;

	position: absolute;
	bottom: -1rem;
	right: -0.5rem;

	width: 3rem;
	height: 2rem;
	background-color: #28282bef;
	border: 4px outset #28282bef;
	border-radius: 30%;
}
.partyPicker input[type=radio]:not(:disabled) + .partyPicker-member:hover {
	transform: scale(1.1);
}

input[type=radio] {
	opacity: 0;
	position: absolute;
}
input[type=radio]:checked + .partyPicker-member {
	border: 4px outset var(--col__blue__ff);
	background-color: #ffffffdb;
}

.UI_container{
	z-index: 1;

	position: fixed;
	top: 0;
	left: -100vw;

	height: 100vh;
	width: 100vw;
	background: #fefefede;

	transition: all 0.3s ease-out;
}
.UI_container[data-show='true']{
	left: 0;
}